{% extends 'music/base.html' %}
{% block title %} Album Details {% endblock %}

{% block body %}
    {# album details #}
    <img src="{{ album.album_logo.url }}">
    <h1>{{ album.album_title }}</h1>
    <h2>{{ album.artist }}</h2>
    <h3>{{ album.genre }}</h3>

        {% for song in album.song_set.all %}
                {{ song.song_title }}
                {% if song.is_favorite %}
                    <img src="http://community.apartmenttherapy.com/assets/contests/heart-icon-colored.png">
                {% endif %}
{#            </label>#}
            <br>
        {% endfor %}
{% endblock %}