<img src="{{ album.album_logo }}">

<h1>{{ album.album_title }}</h1>
<h2>{{ album.artist }}</h2>

{# throw error if page not found#}
{% if err_msg %}
    <p><strong>{{ err_msg }}</strong></p>
{% endif %}

<form action="{% url 'music:favorite' album.id %}" method="post">
    {% csrf_token %}

    {% for song in album.song_set.all %}
        <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}">
        <label for="song{{ forloop.counter }}">
            {{ song.song_title }}
            {% if song.is_favorite %}
                <img src="http://findicons.com/files/icons/1374/world_of_aqua_candybar/128/the_favorites_icon.png">
            {% endif %}
        </label><br>
    {% endfor %}
    <input type="submit" value="Favorite">
</form>